//-.room-frame
mixin slideshow(images)
  .slideshow
    each path_image in images
      .slide
        img(src=path_image)

    .prev
    .next

    .dot-container
      span.dot
      span.dot
      span.dot
      span.dot

mixin room-frame(options)
  .room-box
    +slideshow(options.image)
  
    .number № #{options.number}
    .price #{options.price} в сутки
    .rating #{options.rating} звезд
    .reviews #{options.reviews} отзывов