doctype html
html(lang="en")
  head
    title UIkit
  body
    .colors-and-type.UIkit-page.flexible
      img.logo(src='./src/logo.svg')

      mixin colors-item(tone, colorName, colorHex)
        li.colors-list__item
          .colors-list__square(class=tone)
          .colors-list__text!= colorName + '<br>' + '<span>'+colorHex+'</span>'

      ul.colors-list
        +colors-item('colors-list__square_tone_dark100','Dark Shade 100%', '#1F2041')
        +colors-item('colors-list__square_tone_dark75','Dark Shade 75%', '#1F2041')
        +colors-item('colors-list__square_tone_dark50','Dark Shade 50%', '#1F2041')
        +colors-item('colors-list__square_tone_dark25','Dark Shade 25%', '#1F2041')
        +colors-item('colors-list__square_tone_dark5','Dark Shade 5%', '#1F2041')
        +colors-item('colors-list__square_tone_purple','Purple', '#BC9CFF')
        +colors-item('colors-list__square_tone_green','Green', '#6FCF97')

      mixin type-item(size, tag, description)
        li.type-list__item
          .type-list__square(class=size)= tag
          .type-list__text(class=size)= description

      ul.type-list
        +type-item('type-list__text_size_h1', 'H1', 'This one is the sub-section or widget title')
        +type-item('type-list__text_size_h2', 'H2', 'Next one is the item title inside widgets')
        +type-item('type-list__text_size_h3', 'H3', 'This is a label or CTA text')
        +type-item('type-list__text_size_body', 'Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.')
      
    //- form-elements page ----------------------------------------------------------
    .form-elements.UIkit-page
      img.logo(src='./src/logo.svg')

      label(for='default') TEXT FIELD
      input(type='text' id='default' class='default' placeholder='Email')

      label(for='focus') TEXT FIELD
      input(type='text' id='focus' class='focus' value='This is pretty awesome')

      label(for='dropdown') DROPDOWN
      select(name='dropdown' id='dropdown' value='Сколько гостей')
        option(value='value1')
        option(value='value2' selected) Значение 2
        option(value='value3') Значение 3

      label(for='mask') MASKED TEXT FIELD
      input(type='text' id='mask' placeholder="MM/YY" class="masked" pattern="(1[0-2]|0[1-9])\/(1[5-9]|2\d)")

      .comment
        .comment__avatar
        .comment__author Мурад Сарафанов
        .comment__date 5 дней назад
        .comment__text
          | Великолепный матрас на кровати в основной спальне! 
          | А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. 
          | Выкрикивал комплименты повару — никто не жаловался из соседей.
        a(href='#' title='Оценить' class='comment__like')


      mixin advantage-item(image, head, description)
        .advantage
          .advantage__logo
            img(src=image)
          .advantage__title= head
          .advantage__text= description
      
      +advantage-item('./src/advantage-emoticon.svg', 'Комфорт', 'Шумопоглощающие стены')
      +advantage-item('./src/advantage-city.svg', 'Удобство', 'Окно в каждой из спален')
  